@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$fontOne: 'Roboto', sans-serif;
$fontTwo: 'Montserrat', sans-serif;
$fontTree: 'Anton', sans-serif;
$fontFour: 'Source Sans Pro', sans-serif;

$fontStyle: italic;

$textXxl: 4rem;
$textLg: 3rem;
$textMd: 2rem;
$textSm: 1rem;

$textBold: 700;
$textRegular: 400;
$textLight: 300;


