//vars globales

//colors
$bodyColor: black;
$secondaryColor: yellow;
$titleColor: white;
$black: black;
$white: white;
$bannerColor: rgb(232, 251, 54);

//sizing
$w-100: 100%;
$w-50: 50%;

$textCentro: center;
